[submodule "multiplayer-fabric-taskweft"]
	path = multiplayer-fabric-taskweft
	url = https://github.com/V-Sekai-fire/multiplayer-fabric-taskweft.git
	branch = main
[submodule "multiplayer-fabric-artifacts-mmog"]
	path = multiplayer-fabric-artifacts-mmog
	url = https://github.com/V-Sekai-fire/multiplayer-fabric-artifacts-mmog.git
	branch = main
[submodule "elixir-turboquant-llm"]
	path = elixir-turboquant-llm
	url = https://github.com/V-Sekai-fire/elixir-turboquant-llm.git
	branch = main
